
{% extends "@App/Layouts/layout.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">  var URL_CHECK_NICK_EXISTS = "{{path('check_nick_exists')}}"; </script>
    <script src="{{asset('assets/js/custom/check-nick-exists.js')}}"></script>
{% endblock %}
{% block content %}
    <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 box-form">
        <h2>Registrarse</h2>
        <hr/>
        {{ form_start(form,{'action':'','method':'POST'}) }}
        {{ form_errors(form) }}
        {{ form_end(form) }}
        
    </div>
{% endblock %}
