
{% extends "@App/Layouts/layout.html.twig" %}
{% block content %}
   <div class="container">
       <div id="timeline" class="col-md-7 box-default pull-left">
           <h1  class="box-header">Timeline</h1>
           {#mensajes del usuario y de los que sigue#}
           <div class="box-content">
               {% for publication in pagination %}
               <div class="col-lg-12 publication-item">
                    {% if publication.user.image == null %}
                        <img src="{{asset('uploads/users/default.png')}}" class="img-circle">
                    {% else %}
                        <img src="{{asset('uploads/users/'~publication.user.image)}}" class="img-circle">
                    {% endif%}   
                    <div class="publication-item-content">
                        <div> <a class="link-user" href="">{{publication.user.nick}}</a> <span class="item-content-time">{{publication.createdAt |date('d-m-Y')}}</span></div>
                        <div>{{publication.text}}</div> 
                    </div>             
               </div>
                <hr/>
               {% endfor %}
           </div>
           <div class="navigation">
               {{knp_pagination_render(pagination)}}
           </div>
       </div>
       <div id="user-card" class="col-md-4 box-default pull-left">
           <div class="avatar">
            {% if app.user.image == null %}
                <img src="{{asset('uploads/users/default.png')}}" class="img-circle">
            {% else %}
                <img src="{{asset('uploads/users/'~app.user.image)}}" class="img-circle">
            {% endif%}
            </div>

            <div class="name-surname">
                <a href="">{{app.user.name}} {{app.user.surname}}</a>
                <div class="clearfix"></div>
                <span class="nickname">{{app.user.nick}} </span>
            </div>

       </div>
       <div id="new-publication" class="col-md-4 box-default pull-left">
            <h1 class="box-header">Crear Publicación </h1>
            {{form_start(form, {action:'', method:'POST'})}}
            {{form_end(form)}}
        </div>
   </div>
{% endblock %}
