<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Red Social Symfony {% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('assets/css/bootstrap.cosmo.min.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('assets/css/style.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}
    {% block javascripts %}
        <script src="{{asset('assets/js/jquery.min.js')}}"></script>
        <script src="{{asset('assets/bootstrap/js/bootstrap.min.js')}}"></script>
    {% endblock %}
</head>
<body>
    <header>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">                    
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-principal" aria-expanded="false">
                        <span class="sr-only">Navegación</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{path('app_homepage')}}"><span class="glyphicon glyphicon-cloud" aria-hidden="true"></span> Red Social</a>
                </div>
                
                <div class="collapse navbar-collapse" id="navbar-principal">
                    {% if app.user == null %}
                    <ul class="nav navbar-nav">
                        <li><a href="{{path('login')}}"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Entrar </a></li>
                        <li><a href="{{path('register')}}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Registrar</a></li>
                    </ul>
                    {% endif %}
                    {% if app.user != null %} 
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true" >
                                {% if app.user.image == null %}
                                 <img src="{{asset('uploads/users/default.png')}}" class="img-circle">
                                {% else %}
                                    <img src="{{asset('uploads/users/'~app.user.image)}}" class="img-circle">
                                {% endif%}
                                {{app.user.name}} {{app.user.surname}} <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{path("edit_user")}}" ><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Mi perfil</a></li>
                                {#<li><a href="" ><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Mis Datos</a></li>#}
                                <li role="separator" class="divider"></li>
                                <li><a href="{{path('logout')}}" ><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Cerrar sesión</a></li>
                                <li><a href="" ><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Ayuda</a></li>
                            </ul>
                            
                        </li>
                    </ul>
                    {% endif %}
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>        
    </header>
    <section id="content">
        <div class="container">
            <div>
                {% for mensaje in app.session.flashbag().get('status') %}
                    <div class="alert alert-info">{{mensaje}}</div>
                {% endfor %}
            </div>
        </div>
        <div class="clearfix"></div>
        {% block content %}
        {# Para incluir todo el contenido #}
        {% endblock %}
    </section>
    <footer class="col-xs-12">
        <hr/>
        <div class="container">            
            <p class="text-center text-muted">Red Social creada con Symfony, JQuery y Bootstrap</p>
        </div>
    </footer>
</body>
</html>